<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>The Tech Blog</title>
</head>
<body>
    

<nav class="navbar">
    <div class="logo-parent"> 
    <h1 class="title"><span><img class="logo-icon" src="css/light-bulb.png"></span>The Tech Blog  </h1>
    </div>

    <ul class="nav-list" id="naviList">
        <li class="list-items"><a href="/">Home</a></li>
        {{#if loggedIn}}
        <li class="list-items"><a href="/dashboard">Dashboard</a></li>
        <li class="list-items"><button onclick="logout()" class="logOut">Logout</button></li>
        {{else}}
        <li class="list-items"><a href="/login" >Login</a></li>
        {{/if}}
    </ul>

    <div class="menu" id="btn-toggle" onclick=" toggleMenuBtn () ">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>

</nav>



<div> 
 {{{body}}}
 </div>


<script src="js/logout.js"></script>

</body>
</html>