<section class="login-page">  



       
    <section class="signUp-page">  

9
                <h1 class="signUp-title">Sign Up</h1>
                
                <div class="signUp">
                    <div class="profile_info">
                         <h1 class="title"><span><img class="logo-icon" src="css/light-bulb.png"></span>The Tech Blog  </h1>
                
                    </div>
                    
                    <form class="signUp-form">
                        <label  for="email" class="emailText">Email:</label><br>
                        <input class="email-signup" type="email" placeholder="Enter Email">
                    <hr>
                        <label  for="username" class="usernameText">Username</label><br>
                        <input class="username-signup" type="username" placeholder="Enter Username">
                    <hr>
                        <label  for="password" class="passwordText">Password:</label><br>
                        <input class="password-signup" type="password" placeholder="Enter Password">
                     <hr>
                        <button class="btn " type="submit" onclick="register()"> Register!</button>

                    </form>
                    
        
                </div>
      

    
    
    </section>



</section>

<script src="js/register.js"></script>
